
**/dataset
**/.csv
**/.pdf
**/wandb                                                                                                                                  
baselines/ncnc_wl/dataset
baselines/plots/
baselines/results_ddi_gnn/
baselines/results/
baselines/results_ogb_gnn/
**/__pycache__
baselines/dataset/

*.csv
syn_graph/dataset
**/wandb/
syn_real/dataset
**/rec/
