/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/baselines/dataset
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/baselines/mplp/data
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/baselines/plots 
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/baselines/results 
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/baselines/results_ddi_gnn
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/baselines/results_ogb_gnn
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/syn_graph/dataset
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/syn_graph/plots
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/syn_graph/syn_real/dataset
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/syn_graph/syn_real/plots
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/syn_real/dataset
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/syn_real/plots
/hkfs/work/workspace/scratch/cc7738-rebuttal/ANP4Link/syn_real/results  

**/.csv
**/.pdf                                                                                                                                  
